.cm-s-medi-code.CodeMirror {

  font-size: 1em;
  line-height: 1.5em;
  font-family: inconsolata, monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: #FFFFFF;
  color: #000000;

  .CodeMirror-lines {
    padding: 8px 0;
  }
  .CodeMirror-gutters {
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    padding-right: 10px;
    z-index: 3;
    border: none;
  }
  div.CodeMirror-cursor {
    border-left: 3px solid #000000;
  }
  .CodeMirror-activeline-background {
    background: #EEF1F5;
  }
  .CodeMirror-selected {
    background: #A7CAFF;
  }
  .cm-comment {
    font-style: italic;
    color: #3C802C;
  }
  .cm-string {
    color: #ED7722;
  }
  .cm-number {
    color: #7520AF;
  }
  .cm-atom {
    color: #7520AF;
  }
  .cm-keyword {
    color: #AA2063;
  }
  .cm-variable {
    color: #053369;
  }
  .cm-def {
    color: #053369;
  }
  .cm-variable-2 {
    color: #881181;
  }
  .cm-property {
    color: #7520AF;
  }
  .cm-operator {
    color: #AA2063;
  }
}
